.Journal-Container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0px 50px;
}
.Text-Container{
    width:60%;
}
.Date-Container{
    width:40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
}
.Journal-Text{
    width: 100%;
    border: none;
    outline: none;
    border-style: none; 
    border-color: Transparent; 
    overflow: auto;
    height: 100%;
    resize: none;
}
.Date-Button{
    background-color:bisque;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
}
.Old-Date-Button{
    background-color: lightsteelblue;
}
.Active-Date-Button{
    background-color: brown;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
    margin: 20px;
}
.date-control{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.date-point-container{
    text-align: center;
}