
.Journal-Container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0px 50px;
}

.Text-Container{
    max-width: calc(100% - 333px);
    width: 75%;
}
.Text-Container button{
    margin-right: 15px;
}
button{
    background: transparent;
}
.Date-Container{
    width:332px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
}
.date-control button{
    border: none;
    font-size: 2em;
}
@media screen and (max-width: 815px) {
    .Journal-Container{
        flex-direction: column;
    }
    .Text-Container{
        max-width: 100%;
        width: 100%;
        order: 2;
    }
    .Date-Container{
        width: 100%;
        order: 1;
        margin-bottom: 15px;
    }
    
}
.Journal-Text{
    width: 100%;
    border: none;
    outline: none;
    border-style: none; 
    border-color: Transparent; 
    overflow: auto;
    height: calc(100% - 96px);
    resize: none;
}
.Date-Button{
    background-color:bisque;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
    transition: all ease 0.4s;
}
.Date-Button:hover{
    filter:invert();
    outline: 2px bisque;
}
.Old-Date-Button{
    background-color: lightsteelblue;
}
.Active-Date-Button{
    background-color: brown;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
    margin: 20px;
}
.date-control{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.date-point-container{
    text-align: center;
}
[contenteditable=true]:empty:before{
    content: attr(placeholder);
    pointer-events: none;
    display: block; /* For Firefox */
    opacity: 0.7;
  }
.alert{
    position:fixed;
    bottom: 0;
    width: 100px;
    background-color:rgb(244, 244, 244);
    color: rgb(120, 120, 120);
    text-align: center;
}
.delConf{
    background-color: rgb(173, 0, 0);
    color: white;
}